body {
    padding: 30px;
    margin: 15px;
}

button {
    background-color: purple;
    color: white;
    border-style: none;
    border-radius: 15px;
    margin: 20px;
    padding: 15px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-around;
}